<div class="container-fluid bg-dark text-white">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <app-my-modal>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbXS5czWIgMxkcRLzkafqvQLNiNwFgEZV1yQ&s" alt="">
        <h2 modal-title>This is Modal Title From Parent</h2>
      </app-my-modal>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">About</a></li>
    </ul>
    <p class="text-center ">© 2025 Company, Inc</p>
  </footer>
</div>
