<h3 class="text-center">employee List</h3>

<table class="table table-bordered table-striped">
  <tbody>
    @for (employee of employees$ | async; track $index) {
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.sal}}</td>
        <td>{{employee.fullName()}}</td>
        <td>{{employee.yearlySalary()}}</td>
      </tr>
    }
  </tbody>
</table>
