<h3 class="text-center" appZoomin>Product List</h3>
<button class="btn btn-primary mx-1" (click)="openSweetAlert()">sweetalert</button>
<button class="btn btn-secondary" (click)="openSnackBar()">snackbar</button>

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-3" appZoomin>
      <input appCharOnly appDisablepaste type="search" placeholder="Search..." class="form-control" (keyup)="performSearch($event)" />
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary mx-1" (click)="sortAsc()">Sort Asc</button>
      <button class="btn btn-secondary" (click)="sortDesc()">Sort Desc</button>
    </div>
  </div>

  <div class="row mt-2">
    @for (product of productArr | paginate: { itemsPerPage: 4, currentPage: p}; track $index) {
      <div class="col-sm-3">
        <div class="card">
          <img src="{{product.image}}" class="card-img-top" alt="..." height="200px">
          <div class="card-body text-center" appZoomin>
            <h5 class="card-title">{{product.category}}</h5>
            <p class="card-text text-truncate">{{product.title}}</p>
            <p class="card-text text-truncate">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
            <p class="card-text">
              {{product.rating.rate}}
              <fa-icon [icon]="faStar"></fa-icon>
            </p>
             <button class="btn btn-primary mx-1" [routerLink]="['/productdetails']"
            [queryParams]="{id:product.id,title:product.title,price:product.price}">Details</button>
          </div>
        </div>
      </div>
    }@empty {
      No Product To Display
    }
  </div>
  <div class='col-sm-4 offset-4'>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
