<h3 class="text-center">Product List</h3>

<div class="container">
  <div class="row">
    @for (product of products$ | async; track $index) {
      <div class="col-sm-3">
        <div class="card">
          <img src="{{product.image}}" class="card-img-top" alt="..." height="200px">
          <div class="card-body text-center">
            <h5 class="card-title">{{product.category}}</h5>
            <p class="card-text text-truncate">{{product.title}}</p>
            <p class="card-text text-truncate">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
            <p class="card-text">{{product.rating.rate}}*</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    }@empty {
      No Product To Display
    }
  </div>
</div>
